
@keyframes eye {
  0% {
    stroke-dasharray: 0 99999999;
  }
  100% {
    stroke-dasharray: 20000 99999999;
  }
}

.App {
  font-family: sans-serif;
  text-align: center;
}

#test {
  animation: eye  15s linear forwards;
}
